<%- include('../partials/_header.ejs') %>
<h1>All Flights</h1>
<ul>
  <% flights.forEach(function(flight) { %>
  <li>
    <%= flight.airline %> - Flight <%= flight.flightNo %>, Departs from <%=
    flight.airport %> on <%= flight.departs.toDateString() %>
  </li>
  <% }) %>
</ul>
<%- include('../partials/_footer.ejs') %>
